<div class="wrapper" 
      #wrapper 
      [ngClass]="{
        'verticalScrollArea': hasVerticalScroll, 
        'horizontalScrollArea': hasHorizontalScroll
      }">
  <div class="content" #content>
    <ng-content></ng-content>
  </div>
</div>
<div class='verticalButtons' *ngIf="hasVerticalScroll">
  <div>
    <div class="upControls">
      <button (click)="scrollTopEdge()">>></button>
      <button>></button>
    </div>
    <div class="downControls">
      <button><</button>
      <button (click)="scrollBottomEdge()"><<</button>
    </div>
  </div>
</div>
<div class='horizontalButtons' *ngIf="hasHorizontalScroll">
  <div>
    <div class="leftControls">
      <button (click)="scrollLeftEdge()"><<</button>
      <button><</button>
    </div>
    <div class="rightControls">
      <button>> </button>
      <button (click)="scrollRightEdge()">>></button>
    </div>
  </div>
</div>